header {
    background-color: rgb(68, 160, 96);
      padding-bottom: 40px;
      display:flex;
    justify-content: space-around;}

main{color:rgb(37, 47, 185);
     background-color: rgb(189, 161, 36, 0.781);
    display:grid;
  grid-template-columns:repeat(1, 2fr);
  gap: 120px;
  padding: 30px;
padding-bottom: 300px;}

.block{
  min-height: 250px;
  padding: 5px;
  display: flex;
  align-items: start;
  justify-content: start;
  border: 3px solid rgb(54, 49, 47);
}


footer{color:rgb(245, 150, 42);
     background-color: rgb(148, 43, 25);
     padding-bottom: 40px;}